@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&family=Space+Grotesk:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}

html, body {
    background-color: gray;
}

.scrollBox {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

/* navigation bar stuff */ 
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: black;
    display: flex;
    justify-content: space-between;
    z-index: 10000;

}

.nav {
    padding-bottom: 20px;
    display: flex;
}

.nav a {
    position: relative;
    font-size: 22px;
    color: white;
    text-decoration: none;
    margin-inline: 20px;
    transition: color 300ms ease;
    transition: transform 300ms ease;
    padding-top: 20px;
    letter-spacing: 1px;
}

.nav a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0px;
    height: 1px;
    background: white;
    transition: 350ms;
}

.nav a:hover::before {
    width: 100%;
}

.nav a:hover {
    transform: scale(1.15);
}

header .logo {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Earth_Moon_comparision_sketch.svg/1200px-Earth_Moon_comparision_sketch.svg.png');
    background-size: 80px;
    height: 80px;
    display: inline-block;
    text-indent: 500000px;
    width: 80px;
    transition: transform 300ms ease;
    margin-top: 0px;
}

header .logo:hover{
    transform: scale(1.2);
}

/* main home screen section */

.mainSection {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0)), url('https://images.unsplash.com/photo-1505506874110-6a7a69069a08?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80');
    background-position: center;
    background-size: 130%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.mainSectionLabel .bigText{
    text-align: center;
    color: white;
    font-size: 90px;
    margin-bottom: 40px;
}

.mainSectionLabel .smallText {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 100px;
}

/* scroll down icon */

.downArrow {
    position: absolute;
    background: black;
    bottom: 40px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    transition: 100ms ease;
}

.downArrow:hover {
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.201);
}

#chevron {
    position: relative;
    height: 20px;
    width: 20px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transform: rotate(-135deg);
    left: 20px;
    top: 15px;
}

.boxOne {
    position: relative;
    width: 100%;
    height: 500px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(10,10,15,1) 100%);
    color: white;
    padding: 120px;
    padding-left: 150px;
}

.contentOne {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.contentOneLin {
    position: relative;
    margin-top: 40px;
}

.contentOneDesc, .contentEventsDesc {
    position: relative;
    margin-top: 50px;
    font-size: 25px;
}

.custom-shape-divider-top-1694388422 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1694388422 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 109px;
}

.custom-shape-divider-top-1694388422 .shape-fill {
    fill: rgb(10,10,15);
}

.boxTwo {
    position: relative;
}

.contentTwo {
    position: relative;
    width: 100%;
    height: 800px;
    background: rgb(25,25,30);
    color: white;
    padding: 120px;
    padding-top: 150px;
    padding-left: 150px;
}

.contentEvents {
    font-size: 30px;
}

.contentEvents div {
    margin-top: 40px;
}

.formSection {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.formSection div {
    margin: auto;
}

.formLink  {
    color: white;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    border: white 0.13em solid;
    padding: 0.3em 1em;
    border-radius: 0.25em;

    text-shadow: 0 0 0.125em currentColor; 

    box-shadow: inset 0 0 0.3em 0 white, 0 0 0.5em 0 white;

    position: relative;
    transition: background-color 100ms linear;
}

/* pseudo element for button relfection */ 

.formLink::before {
    pointer-events: none;
    content:'';
    position: absolute;
    background: white;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(2em) rotateX(40deg) scale(1, 0.5);
    filter: blur(1em);
    opacity: 0.5;
}

.formLink::after {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 1em 0.5em white;
    opacity: 0;
    transition: opacity 100ms linear;
}

.formLink:hover, .neon-button:focus {
    background: white;
    color: rgb(25,25,30);
    text-shadow: none;
}

.formLink:hover::after, .formLink:hover::before {
    opacity: 0.6;
}
 
footer {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: black;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/183/846/423/minimalism-space-lights-planet-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
}

.footerWords {
    padding-top: 20px;
}

